* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root {
    --bg-color: #191919;
    --second-bg-color: #101010;
    --main-color: #e9204f;
    --text-color: #fff;
    --second-color: #e4e4e4;
    --other-color: #c6c9d8bf;

    --h1-font: 7rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;

}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 10%;
    transition: all ease .50s;
    background-color: #000;
    height: 70px;
    border-bottom: #FFF;
}

.logo img {
    width: 100%;
    height: auto;
}

.navlist {
    display: flex;
    margin: auto;
}

.navlist a {
    margin: 10px 40px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all ease .40s;
    text-transform: capitalize;
}

.navlist a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 42px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 120px 19% 100px;
}

.home {
    min-height: 100vh;
    position: relative;
    width: 100%;
    background: url(./img/bg3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-text h3 {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 10px;
}

.hero-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h1-font);
    color: var(--text-color);
    font-weight: 800;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.hero-text h4 {
    color: var(--second-color);
    font-size: 25px;
    font-weight: 600;
    word-spacing: 15px;
}

.btn {
    margin-top: 10px;
    display: inline-block;
    padding: 16px 45px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    border: 2px solid var(--main-color);
    transition: all ease.50s;
}

.btn:hover {
    transform: translateX(5px);
    background: transparent;
    border: 2px solid var(--main-color);
}

.header .sticky {
    padding: 15px 11%;
    background: #000;
    border-bottom: 1px solid #fff;
}

.about {

    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 5rem;
}


.about-img img {
    width: 100%;
    height: auto;
}

.about-text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
}

.about-text h5 {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
    text-align: center;
}

.about-text p {
    line-height: 2px;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-text p {
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
    text-align: justify;
}

.layanan {
    color: var(--other-color);
}

.layanan h2 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
}

.layanan h4 {
    text-align: center;
}

.layanan p {
    text-align: center;
}

.contact h2 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}

.contact h2 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;

    text-align: center;
}




/* media query ---------------------- */


/* Tampilan untuk perangkat dengan lebar maksimum 768px (tampilan mobile) */
@media screen and (max-width: 768px) {

    header {
        padding: 10px 5%;
    }

    .navlist {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #000;
        padding: 10px;
        z-index: 999;
        display: none;
        /* Sembunyikan daftar menu pada tampilan mobile */
    }

    .bx {
        display: none;
    }

    .navlist.show {
        display: flex;
    }

    .navlist a {
        margin: 10px 0;
    }

    #menu-icon {
        display: block;
    }

    section {
        padding: 80px 5% 60px;
    }

    .home {
        padding: 80px 5% 60px;
    }

    .hero-text h3 {
        font-size: 18px;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-text h4 {
        font-size: 20px;
    }

    .btn {
        padding: 12px 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .about-text p {
        width: 100%;
    }

    .row {
        padding: 20px;
    }

}